<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @adventure_option_result.reward %>
</p>

<p>
  <strong>Adventure option:</strong>
  <%= @adventure_option_result.adventure_option_id %>
</p>

<%= link_to 'Edit', edit_adventure_option_result_path(@adventure_option_result) %> |
<%= link_to 'Back', adventure_option_results_path %>
