<p id="notice"><%= notice %></p>

<h1>Adventure Options</h1>

<table>
  <thead>
    <tr>
      <th>Option text</th>
      <th>Adventure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventure_options.each do |adventure_option| %>
      <tr>
        <td><%= adventure_option.option_text %></td>
        <td><%= adventure_option.adventure_id %></td>
        <td><%= link_to 'Show', adventure_option %></td>
        <td><%= link_to 'Edit', edit_adventure_option_path(adventure_option) %></td>
        <td><%= link_to 'Destroy', adventure_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adventure Option', new_adventure_option_path %>
